body {
    background-image: url(images/njcbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
}

.topNav {
    background-color: #374787;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px; 
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Verdana";
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: black;
}

.topNav a.active {
    background-color: #F76C6C;
    color: white;
}

.topNav img {
    width: 46px;
    height: 46px;
    float: right;
}

.infoBox {
    margin: 2em auto;
    width: 900px;
    min-height: 500px;
    background: rgba(55,71,135,0.8);
    border-radius: 4px;
}

.infoBox form {
    width: inherit;
    height: inherit;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.location {
    margin: 15px;
    width: 340px;
    height: 230px;
}

.boundingBox {
    display: flex;
    flex-direction: column;
}

.boundingBox img {
    width: 340px;
    height: 200px;
}

.boundingBox #proceedBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 30px;
    color: white;
    font-family: "Verdana";
    font-size: 12px;
    text-align: center;
    background-color: #F76C6C;
    border: none;
    text-decoration: none;
}

.boundingBox #proceedBtn:hover {
    background-color: white;
    color: #F76C6C;
    border-style: none;
}