body {
    background-image: url(images/njcbg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: grey;
}

.topNav {
    background-color: #374787;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px; 
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Verdana";
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: black;
}

.topNav a.active {
    background-color: #F76C6C;
    color: white;
}

.topNav img {
    width: 46px;
    height: 46px;
    float: right;
}

.infoBox {
    margin: auto;
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 700px;
    height: 490px;
    background-color: #374787;
    opacity: 0.8;
    border-radius: 4px;
}

.infoBox #title {
    text-align: center;
    color: white;
    font-family: "Verdana";
    font-size: 21px;
}

.infoBox #subtext {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Verdana";
    font-size: 14px;
}

.infoBox form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    color: white;
    font-family: "Verdana";
    font-size: 14px;
}

.infoBox #formDiv {
    display: flex;
    padding: 5px;
}

.infoBox #updateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: white;
    font-family: "Verdana";
    font-size: 12px;
    text-align: center;
    background-color: #F76C6C;
    border: none;
    margin: auto;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 15px;
}

.infoBox #updateBtn:hover {
    background-color: white;
    color: #F76C6C;
    border-style: none;
}

.infoBox #container #failedMsg {
    color: red;
    font-family: "Verdana";
    font-size: 12px;
    text-align: center;
}

.infoBox #container #successMsg {
    color: green;
    font-family: "Verdana";
    font-size: 12px;
    text-align: center;
}