<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NJC Navigator</title>
    <link rel="stylesheet" href="../static/index.css" />
</head>
    
<body>
        
    <div class="topNav">
        <a class="active" href="/">Home</a>
        <a href="/tour">Tour</a>
        <a href="/login">Adminstration</a>
        <img src="../static/njclogo.png" alt="NJC Logo">
    </div>
    
    <div class="infoBox">
        <h2 id="title">Welcome to National Junior College</h2>
        <h3 id="subtext">You can use this webpage to navigate around the school. The tour will lead you around the notable venues around the school.</h3>
        <h3 id="subtext">Click the button below when you are ready to proceed.</h3>
        <div id="container">
            <a href="tour" id="begin">Let's go</a>
        </div>
    </div>
        
</body>