<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NJC Navigator</title>
    <link rel="stylesheet" href="../static/login.css" />
</head>
    
<body>
        
    <div class="topNav">
        <a href="/">Home</a>
        <a href="/tour">Tour</a>
        <a class="active" href="/login">Adminstration</a>
        <img src="../static/njclogo.png" alt="NJC Logo">
    </div>
    
    <div class="infoBox">
        <h2 id="title">Login</h2>
        <h3 id="subtext">Please enter the administrator username and password.</h3>
        <div id="container">
            <form action="/login" method="post" enctype="multipart/form-data">
                <div id="formDiv">
                    <label>Username: </label>
                    <input type="text" name="username">
                </div>
                <div id="formDiv">
                    <label>Password: </label>
                    <input type="password" name="password">
                </div>
                <div id="formDiv">
                    <button id="loginBtn" type="submit">Login</button>
                </div>
            </form>
            <h3 id="failedMsg" {{failed}}>Login failed, please check the inputs and try again.</h3>
        </div>
    </div>
        
</body>