<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NJC Navigator</title>
    <link rel="stylesheet" href="../static/selector.css" />
</head>
    
<body>
        
    <div class="topNav">
        <a href="/">Home</a>
        <a class="active" href="/tour">Tour</a>
        <a href="/login">Adminstration</a>
        <img src="../static/images/njclogo.png" alt="NJC Logo">
    </div>
    
    <div class="infoBox">
        <h2 id="title">Selector</h2>
        <h3 id="subtext">Choose if you want to add a new location or update/delete an existing one.</h3>
        <div id="container">
            <a href="/add" id="selector">Add</a>
            <a href="/update" id="selector">Update</a>
            <a href="/delete" id="selector">Delete</a>
        </div>
    </div>
        
</body>