<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NJC Navigator</title>
    <link rel="stylesheet" href="../static/tour.css" />
</head>
    
<body>
        
    <div class="topNav">
        <a href="/">Home</a>
        <a class="active" href="/tour">Tour</a>
        <a href="/login">Adminstration</a>
        <img src="../static/images/njclogo.png" alt="NJC Logo">
    </div>
    
    <div class="infoBox">
        <h2 id="title">Let us know where you are</h2>
        <h3 id="subtext">To begin, select the location where you are entering the school from. The areas covered in the tour will vary based on your selection.</h3>
        <div id="container">
            <form action="/tour-start" method="post">
                <input type="submit" value="Side Gate" name="30c1a93228b4ca141f80e5a67cba3c9fd2d1179b5f2b141e0ebc344522610c07" id="locations"/>
                <input type="submit" value="Front Gate" name="5bd7296f3a7142096e9e8b63920829283f33088ae9096c14949b0cdb686af825" id="locations"/>
            </form>
        </div>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=National%20Junior%20College&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
        </div>
    </div>
        
</body>